.*
*~
*.so
*.i
*.pyc
*.[oa]
*.elf
*.bin
*.gz
*.bz2
*.lzma
*.xz
*.lzo
*.patch
*.gcno
.idea/
stats.txt
results.txt
make.log
test.log
test*.out
*.profraw
coverage_report.lcov
coverage_report.txt
index.html
coverage/
gmon.*
gmon-*.out
gdb*.cmd
*devsim.cfg
uart_pty
cov.out
cov.rpt
cov.txt
cov-0x*.txt
ignore_fns
*.objdump
make.out
pmu_statsfile.txt
pmu_stats.txt
Doxyfile
ID
GPATH
GRTAGS
GTAGS
GSYMS
HTML/
docs/doctest/
docs/doctrees/
docs/html/
install/
kernel/include/
kernel/offsets
kernel/sched/check_sanity/check_sanity_debug.h
kernel/util/intcontrol/intcontrol_debug.h
__pycache__/
git_update.bat
