.*
*~
*.so
*.i
*.pyc
*.[oa]
*.elf
*.bin
*.gz
*.bz2
*.lzma
*.xz
*.lzo
*.patch
*.gcno
stats.txt
results.txt
make.log
test.log
test*.out
gmon.*
gdb*.cmd
*devsim.cfg
uart_pty
cov.out
cov.rpt
make.out
pmu_statsfile.txt
Doxyfile
ID
GPATH
GRTAGS
GTAGS
GSYMS
HTML/
docs/doctest/
docs/doctrees/
docs/html/
install/
kernel/include/
kernel/offsets
kernel/sched/check_sanity/check_sanity_debug.h
kernel/util/intcontrol/intcontrol_debug.h
