# Dear emacs, this is a -*- Makefile -*-

export H2K_LINK_ADDR ?= 0xff000000

export H2K_LOAD_ADDR ?= 0x0

# don't need any heap or stack space, but 0 means use default, which we need for unit tests.

export H2K_HEAP_SIZE ?= 0x1

export H2K_STACK_SIZE ?= 0x1

export H2K_ALLOC_HEAP_SIZE ?= 0x10000

export NULL_ANGEL_TRAP ?= 1

export H2K_KERNEL_PGSIZE ?= 5  # 4MB

export H2K_KERNEL_ADDRBITS ?= 12
