# Dear emacs, this is a -*- Makefile -*-

ifndef MAKE_INC_CONFIG
MAKE_INC_CONFIG := 1

# This should never ever need to change
export H2K_LINK_ADDR ?= 0xff000000

# Where we load kernel
export H2K_LOAD_ADDR ?= 0x0

# Don't need any heap or stack space, but 0 means use default, which we need for unit tests.

export H2K_HEAP_SIZE ?= 0x1

export H2K_STACK_SIZE ?= 0x1

export H2K_ALLOC_HEAP_SIZE ?= 0x20000 # in words

# FIXME: tests in monitor space need at least 4MB pages
export H2K_KERNEL_PGSIZE ?= 5  # 4MB

# Page offset for smallest page size
export H2K_KERNEL_ADDRBITS ?= 12

# Where we put .start section.  Must be after H2K_LOAD_ADDR; more specifically
# after bootvm_start
export H2K_GUEST_START ?= 0x02000000

# Highest page accessible to guest, inclusive
export H2K_GUEST_END ?= 0xfe000000

endif
